@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

* {box-sizing: border-box; font-family: 'Space Grotesk';}

body[data-theme='normal'] {
    --bg: #fff;
    --primary: #29C1D6;
    --primary-light: #b9d5e3;
}
body[data-scroll="true"] {
    overflow: auto;
}
body[data-scroll="false"] {
    overflow: hidden;
}
html, body {
    margin: 0;
    font-family: 'Space Grotesk';
}
.column { 
    float: left;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
}

/* text */

.text {
    margin-top: 15vh;
    padding: 40px;
}

.title {
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 0px;
}
.subtitle {
    margin-top: 0px;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
}
.dot {
    color: var(--primary);
    font-size: 3rem;
}
.buttons {
    display: flex;
    gap: 10%;
    align-items: center;
    margin-bottom: 20px;
}

button {
    background-color: var(--primary);
    border: none;
    padding: 15px 50px;
    border-radius: 69px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all .5s ease-out;
    font-family: 'Space Grotesk';
    font-weight: 500;
}

button:hover {
    box-shadow: 0 0.5em 0.5em -0.4em var(--primary-light);
    transform: translateY(-0.25em);
}
button:active {
    transition: all 0.1s linear;
    box-shadow: none;
    transform: scale(0.9);
}

/* image */

.image {
    display: block;
}
.flag {
    margin-left: 100px;
    width: 400px;
    height: 200px;
    background-color: silver;
    border-radius: 10px;
    border-bottom-right-radius: 0;
}
.pole {
    width: 20px;
    height: 600px;
    background-color: var(--primary);
    margin-left: 480px;
    position: absolute;
}

/* responsiveness */

@media screen and (max-height: 500px) {
    .text {
        margin-top: 0;
    }
}
@media screen and (max-width: 1160px) {
    .image {
        display: none;
    }
    .flag {
        display: none;
    }
    .pole {
        display: none;
    }
    .text {
        width: 100%;
        align-items: center;
    }
    button {
        text-wrap: nowrap;
    }
    .title {
        font-size: 5rem;
    }
}
@media screen and (max-width: 510px) {
    .buttons {
        flex-direction: column;
        align-items: center;
    }
    button {
        margin-bottom: 20px;
        width: 90vw;
    }
}
.mobile {
    display: none;
}
@media screen and (max-width: 500px) {
    .text {
        margin-top: 6vh;
    }
    .subtitle {
        text-align: center;
        font-size: 7vw;
    }
    .word {
        border-bottom: 3px var(--primary) solid;
    }
    .dot {
        display: none;
    }
    .mobile {
        display: inline;
        visibility: hidden;
    }
    .ms {
        white-space: pre-line;
    }
    .title {
        font-size: 15vw;
    }
}
@media screen and (max-width: 430px) {
    .text {
        margin-top: 10vh;
    }
}